.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container span {
    /* background: #f5f5f5; */
    background: rgb(97, 247, 117);
    width: 500px;
    border-radius: 5px; 
    margin-top: 10px;
    border: 0.5px solid #ddd;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    display: block;
    word-wrap: break-word;
    padding: 10px 10px;
}

.main-container span strong {
    font-size: 20px;
    color: #666;
    text-align: center;
}

.main-container span p {
    font-size: 15px;
    font-style: italic;
    color: #666;
}
